.banner-container {
    position: relative;
}

.navbar-container {
    position: absolute;
    top:0;
    left:0;
}


.banner {
    width: 100%;
}

.banner-text-container {
    position: absolute;
    top: 37%;
    left: 4%;
}

h1 {
    font-size: 60px;
    width: 53%;
}