<section class="main-content">
    <div class="content-header">
        <h2>CONTACTEZ-NOUS</h2>
    </div>
    <div class="explanations-container-grid">
            <div class="explanation-container">
                <img class="explanation-icon" src="assets/images/icons/hotline-icon.png" alt="hotline icon">
                <h3>Retour</h3>
                <div class="horizontal-separator"></div>
                <div class="text-container">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida venenatis 
                        sit donec parturient neque at tempus. Eget felis lorem cursus dignissim id 
                        at facilisis enim.
                    </p>
                </div>
                
            </div>

            <div class="explanation-container">
                <img class="explanation-icon" src="assets/images/icons/phone-icon.png" 
                alt="phone icon">
                <h3>Frais de port</h3>
                <div class="text-container">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida venenatis 
                        sit donec parturient neque at tempus. Eget felis lorem cursus dignissim id 
                        at facilisis enim.
                    </p>
                </div>
            </div>

            <div class="explanation-container">
                <img class="explanation-icon" src="assets/images/icons/mail-icon.png" 
                alt="mail icon">
                <h3>Satisfait ou remboursé</h3>
                <div class="text-container">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida venenatis 
                        sit donec parturient neque at tempus. Eget felis lorem cursus dignissim id 
                        at facilisis enim.
                    </p>
                </div>
            </div>

            <div class="explanation-container">
                <img class="explanation-icon" src="assets/images/icons/chat-icon.png" 
                alt="chat icon">
                <h3>Livraison</h3>
                <div class="text-container">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida venenatis 
                        sit donec parturient neque at tempus. Eget felis lorem cursus dignissim id 
                        at facilisis enim.
                    </p>
                </div>
            </div>
    </div>
</section>
