@import "../../style/colours";
@import "../../style/buttons";
@import "../../style/fonts";

.nav-container {
    display: flex;
}

.logo {
    width: 200px;
    height: auto;
    margin: 0 30px 0 30px;
}

.tabs-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    text-transform: uppercase;
    list-style-type: none;
   li {
        a {
            text-decoration: none;
            font-size: 18px;
            font-family: "Lato Light";
            color: $black;
            // &:visited {
            //     color: black;
            //     text-decoration: none;
            // }
        
            &:hover {
                font-weight: bold;
                border-bottom: 2px solid #3848D3;
                text-decoration: none;
            }
       }
   }
}

.shop-button {
    background-color: #3848D3;
    color: white;
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.shop-link {
    color: $white;
}

