<nav class="nav-container">
    <a routerLink=""><img class="logo" src="/assets/images/logos/servdrone-logo.png" alt="servdrone logo"></a> 
    <ul class="tabs-list">
        <li routerLinkActive="router-link-active"><a routerLink="brand">La marque</a></li>
        <li routerLinkActive="router-link-active"><a [routerLink]="['/technology']">Technologie</a></li>
        <li routerLinkActive="router-link-active"><a [routerLink]="['/support']">Support</a></li>
        <li class="shop-button" routerLinkActive="router-link-active"><a class="shop-link" [routerLink]="['/shop']">Boutique</a></li>
    </ul>
</nav>
