<section class="product-description-container">
    <div class="description-text-container">
        <h3>Lorem ipsum dolor sit amet</h3>
        <h2>Lorem ipsum <span class="blue-highlight">dolor</span> sit amet</h2>
        <div class="blue-line"></div>
        <p>Lorem ipsum dolor sit amet et delectus accommodare his consul 
            copiosae legendos at vix ad putent delectus delicata usu. Vidit 
            dissentiet eos cu eum ipsum dolor sit amet et delectus accommodare 
            his consul copiosae legendos at vix ad putent delectus delicata usu. 
            Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant 
            dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. 
            Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis 
            mnesarchum qui posse omnium mediocritatem est cu. 
        </p>
    </div>

    <img class="product-picture" src="assets/images/photos/technology-header-banner.png" alt="drone picture">
</section>

<img class="second-banner" src="assets/images/photos/techonology-second-banner.png" alt="drone flying under snow">

<section class="second-section-container">
    <div class="second-section-description-text-container">
        <div class="second-section-text-content">
            <h3>Lorem ipsum dolor sit amet</h3>
            <h2>Lorem ipsum <span class="blue-highlight">dolor</span> sit amet</h2>
            <div class="blue-line"></div>
            <p>Lorem ipsum dolor sit amet et delectus accommodare his consul 
                copiosae legendos at vix ad putent delectus delicata usu. Vidit 
                dissentiet eos cu eum ipsum dolor sit amet et delectus accommodare 
                his consul copiosae legendos at vix ad putent delectus delicata usu. 
                Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant 
                dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. 
                Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis 
                mnesarchum qui posse omnium mediocritatem est cu. 
            </p>
        </div>
    </div>

    <img class="right-close-up-drone-picture" src="assets/images/products/technology-side-drone1.png" alt="close up drone">
</section>

<section class="third-section-container">
    <img class="left-close-up-drone-picture" src="assets/images/products/technology-side-drone2.png" alt="close up drone">
    <div class="second-section-description-text-container">
        <div class="second-section-text-content">
            <h3>Lorem ipsum dolor sit amet</h3>
            <h2>Lorem ipsum <span class="blue-highlight">dolor</span> sit amet</h2>
            <div class="blue-line"></div>
            <p>Lorem ipsum dolor sit amet et delectus accommodare his consul 
                copiosae legendos at vix ad putent delectus delicata usu. Vidit 
                dissentiet eos cu eum ipsum dolor sit amet et delectus accommodare 
                his consul copiosae legendos at vix ad putent delectus delicata usu. 
                Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant 
                dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. 
                Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis 
                mnesarchum qui posse omnium mediocritatem est cu. 
            </p>
        </div>
    </div>
</section>

<div class="transition-banner-container">
    <h2>Lorem ipsum dolor sit amet</h2>
    <img class="second-banner" src="assets/images/products/drone-kit.png" alt="drone kit picture">
</div>

<section class="product-description-container">
    <img class="feature-icon" src="assets/images/icons/technolgy-ai-section.png" alt="artificial intelligence icon">
    <div class="description-text-container feature-explanation-container">
        <div>
            <h3>Lorem ipsum dolor sit amet</h3>
            <h2>Lorem ipsum <span class="blue-highlight">dolor</span> sit amet</h2>
            <div class="blue-line"></div>
            <p>Lorem ipsum dolor sit amet et delectus accommodare his consul 
                copiosae legendos at vix ad putent delectus delicata usu. Vidit 
                dissentiet eos cu eum ipsum dolor sit amet et delectus accommodare 
                his consul copiosae legendos at vix ad putent delectus delicata usu. 
                Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant 
                dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. 
                Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis 
                mnesarchum qui posse omnium mediocritatem est cu. 
            </p>
        </div>
    </div>
</section>

<section class="product-description-container">
    <div class="description-text-container feature-explanation-container">
        <div>
            <h3>Lorem ipsum dolor sit amet</h3>
            <h2>Lorem ipsum <span class="blue-highlight">dolor</span> sit amet</h2>
            <div class="blue-line"></div>
            <p>Lorem ipsum dolor sit amet et delectus accommodare his consul 
                copiosae legendos at vix ad putent delectus delicata usu. Vidit 
                dissentiet eos cu eum ipsum dolor sit amet et delectus accommodare 
                his consul copiosae legendos at vix ad putent delectus delicata usu. 
                Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant 
                dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. 
                Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis 
                mnesarchum qui posse omnium mediocritatem est cu. 
            </p>
        </div>
    </div>
    <img class="feature-icon" src="assets/images/icons/technology-facial-recognition-section.png" alt="facial recognition icon">
</section>

<section class="third-section-container">

    <img class="close-up-drone-from-top" src="assets/images/products/technology-side-drone3.png" alt="close up drone from top">
    <div class="second-section-description-text-container">
        <div class="second-section-text-content">
            <h3>Lorem ipsum dolor sit amet</h3>
            <h2>Lorem ipsum <span class="blue-highlight">dolor</span> sit amet</h2>
            <div class="blue-line"></div>
            <p>Lorem ipsum dolor sit amet et delectus accommodare his consul 
                copiosae legendos at vix ad putent delectus delicata usu. Vidit 
                dissentiet eos cu eum ipsum dolor sit amet et delectus accommodare 
                his consul copiosae legendos at vix ad putent delectus delicata usu. 
                Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant 
                dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. 
                Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis 
                mnesarchum qui posse omnium mediocritatem est cu. 
            </p>
            <div class="description-photos-container">
                <img class="drone-view-picture" src="assets/images/photos/technology-drone-view4.png" alt="view forest from top">
                <img class="drone-view-picture" src="assets/images/photos/technology-drone-view3.png" alt="view sea from top">
            </div>
        </div>
    </div>
</section>

<img class="second-banner" src="assets/images/photos/technology-third-banner.png" alt="desert picture took by drone">

<section class="landscape-picture-drone-feature-container">
    <div class="landscape-row">
        <div class="landscape-row-text-container">
            <h2>Lorem ipsum dolor</h2>
            <p>Lorem ipsum dolor sit amet et delectus accommodare his consul 
                copiosae legendos at vix ad putent delectus delicata usu. Vidit 
                dissentiet eos cu eum ipsum dolor sit amet et delectus accommodare 
                his consul copiosae legendos at vix ad putent delectus delicata usu. 
                Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. 
                Per facer affert ut. 
            </p>
        </div>
        <img class="landscape-picture" src="assets/images/photos/technology-drone-view1.png" alt="desert picture took by drone">
    </div>

    <div class="landscape-row">
        <img class="landscape-picture" src="assets/images/photos/technology-drone-view2.png" alt="desert picture took by drone">
        <div class="landscape-row-text-container">
            <h2>Lorem ipsum dolor</h2>
            <p>Lorem ipsum dolor sit amet et delectus accommodare his consul 
                copiosae legendos at vix ad putent delectus delicata usu. Vidit 
                dissentiet eos cu eum ipsum dolor sit amet et delectus accommodare 
                his consul copiosae legendos at vix ad putent delectus delicata usu. 
                Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. 
                Per facer affert ut. 
            </p>
        </div>
    </div>
</section>