@import "../../style/colours";
@import "../../style/buttons";


.product-description-container {
    display: flex;
    justify-content: space-around;
}

.product-picture, .description-text-container {
    width: 40%;
}

.blue-highlight {
    color: $blue;
}

.blue-line {
    height: 2px;
    width: 10%;
    background-color: $blue;
}

.second-banner {
    width: 100%;
    height: 385px;
    margin: 50px 0 50px 0;
}

.second-section-container {
    position: relative;
    height: 500px;
    display: flex;
    align-items: center;
}

.second-section-description-text-container {
    width: 56%;
    display: flex;
    justify-content: center;
}

.second-section-text-content {
    width: 59%;
}

.right-close-up-drone-picture {
    position: absolute;
    right: 0;
    height: 644px;
    width: auto;
}

.left-close-up-drone-picture {
    position: absolute;
    left: 0;
    height: 644px;
    width: auto;
}

.third-section-container {
    position: relative;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.transition-banner-container {
    width: 100%;
    h2 {
        text-align: center;
    }
}

.feature-icon {
    width: 300px;
    height: auto;
    padding: 50px;
}

.feature-explanation-container {
    display: flex;
    align-items: center;
}

.description-photos-container {
    display: flex;
    justify-content: space-around;
    img {
        width: 40%;
    }
}

.close-up-drone-from-top {
    position: absolute;
    left: 0;
    height: 736px;
    width: auto;
    top: 0;
}

.landscape-row {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.landscape-row-text-container {
    width: 30%;
    font-size: 25px;
    h2 {
        text-align: center;
    }
}

.landscape-picture {
    width: 30%;
    height: auto;
}