<div class="product-container">
    <img class="product-background" [src]="background" alt="product banner">
    <div class="product-informations-container">
        <h2 class="product-name"> {{ name }}</h2>
        <h2 class="product-subtitle">Lorem ipsum dolor sit amet</h2>
        <h2 class="product-main-title">Lorem ipsum <span class="blue-highlight">dolor</span> sit amet</h2>
        <div class="horizontal-line"></div>
        <a class="btn" routerLink="">En savoir plus</a>
    </div>
</div>