<div class="founder-picture-container">
    <img src="assets/images/photos/founder-picture.png" alt="Servdrone founder picture">
    <div class="founder-informations-container">
        <h2>John Doe</h2>
        <h3>Fondateur et CEO</h3>
        <div class="horizontal-separator"></div>
        <div class="social-network-pictures-container">
            <a href=""><img class="social-network-icon" src="assets/images/icons/facebook-icon.png" alt="facebook icon"></a> 
            <a href=""><img class="social-network-icon" src="assets/images/icons/twitter-icon.png" alt="Twitter icon"></a>  
            <a href=""><img class="social-network-icon" src="assets/images/icons/linkedin-icon.png" alt="Linkedin icon"></a>  
        </div>
    </div>
</div>