@font-face {
    font-family: "Rock Salt";
    src: url("/Runzik/ressources/fonts/Rock_Salt/RockSalt-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("/Runzik/ressources/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Light";
    src: url("/Runzik/ressources/fonts/roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("/Runzik/ressources/fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Thin";
    src: url("/Runzik/ressources/fonts/roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Oswald";
    src: url("/Runzik/ressources/fonts/Oswald/Oswald-Regular.ttf") format("truetype");

}

@font-face {
    font-family: "Saira";
    src: url("/Runzik/ressources/fonts/Saira/static/Saira-Bold.ttf") format("truetype");

}

@font-face {
    font-family: "Play Bold";
    src: url("/Runzik/ressources/fonts/Play/Play-Bold.ttf") format("truetype");

}
