@import "../../style/colours";
@import "../../style/buttons";
@import "../../style/fonts";


h3 {
    font-family: "Lato Bold";
}

h2 {
    font-family: "Roboto Bold";
}

p {
    font-family: "Lato Light";
}

.product-description-container {
    display: flex;
    justify-content: space-around;
}

.product-picture, .description-text-container {
    width: 40%;
}

.blue-highlight {
    color: $blue;
}

.blue-line {
    height: 2px;
    width: 10%;
    background-color: $blue;
}

.products-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px;
}

.second-section {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.second-section-content-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: 15px;
    }
    h3 {
        font-size: 25px;
        width: 26%;
    }
}

// .second-banner {
//     width: 100%;
// }

.parallax {
    background-image: url(/assets/images/banners/home-second-banner.png);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 385px;
    margin: 50px 0 50px 0;
}



.drone-features-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drone-features-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.third-section {
    display: flex;
    justify-content: center;
    img {
        margin: 0 15px 0 15px;
        width: 20rem;
        height: 30rem;
    }

    .card-container {
        position: relative;
        h2,p {
            position: absolute;
            top: 5px;
            left: 93px;
            color: black;
        }
        p {
            top: 60px;
            left: 45px;
        }
    }
}