<div class="product-card-container">
    <img class="product-banner" src="" alt="">
    <div class="text-content">
        <h2 class="product-card-title"></h2>
        <h3 class="product-card-subtitle"></h3>
        <h3 class="product-card-subtitle"></h3>
        <p class="product-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Ullamcorper habitasse enim mattis volutpat tortor. At ut a vitae diam risus, tempus, 
            non. Congue non a hac risus volutpat interdum dignissim neque sit. Feugiat fermentum, 
            nunc, sed natoque suspendisse elit vitae. Odio sed et volutpat lorem porta congue lobortis ut.
        </p>
    </div>
</div> <!--a mettre dans un composant et boucler, drone dans un fichier à part zet importer les données-->