<section class="brand-description-container">
    
    <div class="brand-description-bloc">
        <h2>Qui sommes-nous ?</h2>
        <div class="blue-line"></div>
        <p>Lorem ipsum dolor sit amet et delectus accommodare his consul 
            copiosae legendos at vix ad putent delectus delicata usu. Vidit 
            dissentiet eos cu eum ipsum dolor sit amet et delectus accommodare 
            his consul copiosae legendos at vix ad putent delectus delicata usu. 
        </p>

        <p>Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant 
            dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. 
            Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis 
            mnesarchum qui posse omnium mediocritatem est cu. 
        </p>

        <p>Lorem ipsum dolor sit amet et delectus accommodare his consul 
            copiosae legendos at vix ad putent delectus delicata usu. Vidit 
            dissentiet eos cu eum ipsum dolor sit amet et delectus accommodare 
            his consul copiosae legendos at vix ad putent delectus delicata usu. 
        </p>
    </div>

    <img class="presentation-drone-picture" src="assets/images/products/brand-product-picture.png" alt="picture of drone">
</section>

<section class="founders-presentation">
    <h2>Les fondateurs</h2>
    <div class="blue-line"></div>
    <div class="founders-pictures-container">
        <app-founder></app-founder>
        <app-founder></app-founder>
    </div>  
</section>

<section class="technology-section">
    <div class="technology-section-header">
        <h2>Nos technologies</h2>
        <h3>Lorem ipsum <span class="blue-highlight">dolor</span> sit amet, 
        <span class="blue-highlight">consectetur</span> adipiscing elit.</h3>
    </div>
    
    <div class="technology-content-container">
        <div class="technology-text-and-separator-container">
            <div class="vertical-separator"></div>
            <div class="technology-text-container">
                <p>Lorem ipsum dolor sit amet et delectus accommodare his consul 
                    copiosae legendos at vix ad putent delectus delicata usu. Vidit 
                    dis--sentiet eos cu eum
                </p>
        
                <p>
                    ipsum dolor sit amet et delectus accommodare his consul copiosae 
                    legendos at vix ad putent delectus delicata usu. Vidit dissentiet 
                    eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Per 
                    facer affert ut. Mei iisque mentitum moderatius cu. Sit munere facilis 
                    accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum qui 
                    posse omnium mediocritatem est cu. Modus argumentum ne qui tation efficiendi 
                    in eos. Ei mea falli legere efficiantur et tollit aliquip debitis mei. No 
                    deserunt mediocritatem mel. Lorem ipsum dolor sit amet et delectus accommodare 
                    his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit
                </p>

                <p>Lorem ipsum dolor sit amet et delectus accommodare his consul 
                    copiosae legendos at vix ad putent delectus delicata usu. Vidit 
                    dis--sentiet eos cu eum
                </p>
            </div>
        </div>
        <img class="technology-picture" src="assets/images/products/drone-close-up-from-front.png" alt="drone close up from front">
    </div>
</section>

<section class="partners-section">
    <h2>Nos partenaires</h2>
    <div class="partners-section-content-container">
        <div class="partners-logos-container">
            <img src="assets/images/logos/partner1-logo.png" alt="partner logo 1">
            <img src="assets/images/logos/partner2-logo.png" alt="partner logo 2">
            <img src="assets/images/logos/partner3-logo.png" alt="partner logo 3">
            <img src="assets/images/logos/partner4-logo.png" alt="partner logo 4">
        </div>
    
        <div class="partners-text-container">
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
            <p>Lorem ipsum dolor sit amet et delectus accommodare his consul 
                copiosae legendos at vix ad putent delectus delicata usu. Vidit 
                dis--sentiet eos cu eum
            </p>
    
            <p>
                ipsum dolor sit amet et delectus accommodare his consul copiosae 
                legendos at vix ad putent delectus delicata usu. Vidit dissentiet 
                eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Per 
                facer affert ut. Mei iisque mentitum moderatius cu. Sit munere 
                facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum 
                qui posse omnium mediocritatem est cu. Modus argumentum ne qui tation 
                efficiendi in eos. Ei mea falli legere efficiantur et tollit aliquip 
                debitis mei. No deserunt mediocritatem mel. Lorem ipsum dolor sit amet 
                et delectus accommodare his consul copiosae legendos at vix ad putent 
                delectus delicata usu. Vidit
            </p>
        </div>
    </div>
</section>