<section class="brand-description-container">
    
    <div class="brand-description-bloc">
        <h2>Qui sommes-nous ?</h2>
        <div class="blue-line"></div>
        <p>Lorem ipsum dolor sit amet et delectus accommodare his consul 
            copiosae legendos at vix ad putent delectus delicata usu. Vidit 
            dissentiet eos cu eum ipsum dolor sit amet et delectus accommodare 
            his consul copiosae legendos at vix ad putent delectus delicata usu. 
        </p>

        <p>Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant 
            dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. 
            Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis 
            mnesarchum qui posse omnium mediocritatem est cu. 
        </p>

        <p>Lorem ipsum dolor sit amet et delectus accommodare his consul 
            copiosae legendos at vix ad putent delectus delicata usu. Vidit 
            dissentiet eos cu eum ipsum dolor sit amet et delectus accommodare 
            his consul copiosae legendos at vix ad putent delectus delicata usu. 
        </p>
    </div>

    <img class="brand-description-bloc" src="assets/images/products/drone-presentation2.png" alt="">
</section>

<section class="founder-presentation">
    <h2>Qui sommes-nous ?</h2>
    <div class="blue-line"></div>
    <app-founder></app-founder>
</section>

<section class="technology-section">
    <h2>Nos technologies</h2>
    <h3>Lorem ipsum <span class="blue-highlight">dolor</span> sit amet, 
        <span class="blue-highlight">consectetur</span> adipiscing elit.
    </h3>

    <div>
        <div class="horizontal-separator"></div>
        <div class="technology-text-container">
            <p>Lorem ipsum dolor sit amet et delectus accommodare his consul 
                copiosae legendos at vix ad putent delectus delicata usu. Vidit 
                dis--sentiet eos cu eum
            </p>
    
            <p>
                ipsum dolor sit amet et delectus accommodare his consul copiosae 
                legendos at vix ad putent delectus delicata usu. Vidit dissentiet 
                eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Per 
                facer affert ut. Mei iisque mentitum moderatius cu. Sit munere facilis 
                accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum qui 
                posse omnium mediocritatem est cu. Modus argumentum ne qui tation efficiendi 
                in eos. Ei mea falli legere efficiantur et tollit aliquip debitis mei. No 
                deserunt mediocritatem mel. Lorem ipsum dolor sit amet et delectus accommodare 
                his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit
            </p>

            <p>Lorem ipsum dolor sit amet et delectus accommodare his consul 
                copiosae legendos at vix ad putent delectus delicata usu. Vidit 
                dis--sentiet eos cu eum
            </p>
        </div>
        
        <img src="assets/images/icons/linkedin-icon.png" alt="Linkedin icon">
    </div>
</section>

<section>
    <h2>Nos partenaires</h2>
    <div class="partners-logos-container">
        <img src="assets/images/icons/linkedin-icon.png" alt="Linkedin icon">
        <img src="assets/images/icons/linkedin-icon.png" alt="Linkedin icon">
        <img src="assets/images/icons/linkedin-icon.png" alt="Linkedin icon">
        <img src="assets/images/icons/linkedin-icon.png" alt="Linkedin icon">
    </div>

    <div class="partners-text-container">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p>Lorem ipsum dolor sit amet et delectus accommodare his consul 
            copiosae legendos at vix ad putent delectus delicata usu. Vidit 
            dis--sentiet eos cu eum
        </p>

        <p>
            ipsum dolor sit amet et delectus accommodare his consul copiosae 
            legendos at vix ad putent delectus delicata usu. Vidit dissentiet 
            eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Per 
            facer affert ut. Mei iisque mentitum moderatius cu. Sit munere 
            facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum 
            qui posse omnium mediocritatem est cu. Modus argumentum ne qui tation 
            efficiendi in eos. Ei mea falli legere efficiantur et tollit aliquip 
            debitis mei. No deserunt mediocritatem mel. Lorem ipsum dolor sit amet 
            et delectus accommodare his consul copiosae legendos at vix ad putent 
            delectus delicata usu. Vidit
        </p>
    </div>

    <div>
        <a class="btn" routerLink=""></a>
    </div>
</section>