<div class="mobile-header">
    <a  class="mobile-logo-container" href="index.php"><img class="servdrone-logo" src="/assets/images/logos/servdrone-logo.png" 
        alt="servdrone logo">
    </a>



<nav class="mobile-menu">
    <div class="menu-top-line"></div>
    <div class="bottom-menu">
        <a  routerLink="brand"><img class="mobile-menu-icon" src="/assets/images/icons/brand-icon.png" alt="brand icon"></a>
        <a [routerLink]="['/technology']"><img class="mobile-menu-icon" src="/assets/images/icons/technology-icon.png" alt="technology icon"></a>
        <a [routerLink]="['/support']"><img class="mobile-menu-icon" src="/assets/images/icons/support-icon.png" alt="support icon"></a>
        <a [routerLink]="['/shop']"><img class="mobile-menu-icon" src="/assets/images/icons/shop-icon.png" alt="shop icon"></a>
        <!-- <li routerLinkActive="router-link-active"><a routerLink="brand">La marque</a></li>
        <li routerLinkActive="router-link-active"><a [routerLink]="['/technology']">Technologie</a></li>
        <li routerLinkActive="router-link-active"><a [routerLink]="['/support']">Support</a></li>
        <li class="shop-button" routerLinkActive="router-link-active"><a [routerLink]="['/shop']">Boutique</a></li> -->
        </div>
</nav>